/* styles.css */

/* General Styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    padding-top: 5px;
    background-color: #f3effa;
}

h1, h2, h3, h4, h5, h6 {
    color: #333;
    margin-top: 0;
}

p {
    margin: 1em 0;
}

/* Navigation Styles */
nav {
    background-color: #7E57C2;
    color: #ffffff;
    padding: 7px 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
}

nav ul li a:hover {
    background-color: #673AB7;
    text-decoration: none;
}

nav ul li a.active {
    font-weight: bold;
    color: #673AB7;
}

body {
    padding-top: 60px;
}

/* Section Styles */
section {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 20px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

section h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 10px;
}

section p {
    color: #333;
    font-size: 16px;
    line-height: 1.5;
}

/* Hidden class to toggle visibility */
.hidden {
    display: none;
}
