/* Chapter 1: Critical Layout Styles - Highest Priority
1.1 CSS Variables
1.2 General Styles for Body
1.3 Color-coded Text Styles
1.4 Navigation Menu
1.5 Sidebar

Chapter 2: Content Display - Important for Usability
2.1 Section Styling
2.2 Cookie Consent Popup
2.3 Images
2.4 Links
2.5 Point Form or Lists
2.6 Content-specific Lists
2.7 Specific Styling for Problems List

Chapter 3: Auxiliary Styles - Enhancing Aesthetics
3.1 Buttons and Links
3.2 Tables for Structured Data
3.3 Hidden

Chapter 4: Responsive Design - Ensuring Accessibility on Mobile Devices
4.1 General Responsive Styles
4.2 Navigation Responsive Styles
4.3 Footer Responsive Styles

Chapter 5: Footer Styles
5.1 General Footer Styles
5.2 Footer Container
5.3 Footer Section
5.4 Scroll to Top Button Styles

Chapter 6: Modern Enhancements
6.1 Modern Units for Flexibility
6.2 Flexbox and Grid for Layouts
6.3 Enhanced Media Queries
6.4 Accessibility Enhancements */

/* Main Stylesheet for the Website */

/* Google Fonts Import */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Roboto+Slab:wght@400;500&display=swap');

/* Applying fonts */
body {
    font-family: 'Roboto', Arial, sans-serif;
    color: var(--text-color);
    font-size: var(--font-size-base);
    line-height: 1.6;
    letter-spacing: 0.15px;
    margin: 0;
    padding-top: 4rem;
    background-color: var(--background-color);
    text-align: left;
    text-rendering: optimizeLegibility;
    font-variant-ligatures: common-ligatures;
    font-kerning: normal;
}

h1, h2, h3 {
    font-family: 'Roboto Slab', serif;
    font-weight: 500; /* Medium weight */
    margin-top: 3.25rem; /* Adjust the value to your preference */
    margin-bottom: 0.75rem; /* Keeps the space consistent after the heading */
}

p {
    margin-bottom: 1rem; /* Adjust the value to your preference */
}

/* Chapter 1: Critical Layout Styles - Highest Priority */

/* 1.1 - CSS Variables */
:root {
    --primary-color: #444;
    --secondary-color: #555;
    --font-size-base: 1rem;
    --spacing-base: 1rem;
    --background-color: #f1f1f1;
    --text-color: #444;
    --heading-color: #444;
    --link-color: #5462e1;
    --link-visited-color: #006a0c;
    --link-hover-color: #009e12;
    --border-color: #ccc;
    --shadow-color: rgba(0, 0, 0, 0.1);
    --button-bg-color: #673AB7;
    --button-hover-bg-color: #875EC7;
    --footer-bg-color: #f1f1f1;
    --footer-text-color: #777;
    --footer-text-secondary-color: #666;
    /* Additional variables for spacing */
    --padding-small: 0.5rem;
    --padding-medium: 1rem;
    --padding-large: 2rem;
}

/* 1.2 - General Styles for Body */
body {
    font-family: 'Roboto', Arial, sans-serif;
    color: var(--text-color);
    font-size: var(--font-size-base);
    line-height: 1.6;
    letter-spacing: 0.15px;
    margin: 0;
    padding-top: var(--padding-large);
    background-color: var(--background-color);
    text-align: left;
    text-rendering: optimizeLegibility;
    font-variant-ligatures: common-ligatures;
    font-kerning: normal;
}

html {
    scroll-behavior: smooth;
}

header {
    margin-bottom: 0.625rem;
}

main {
    padding-top: 0;
}

/* 1.3 - Color-coded text styles for clarity */
.problem {
    color: rgb(151, 24, 5);
    font-weight: normal;
}

.solution {
    color: rgb(11, 47, 165);
    font-weight: normal;
}

/* 1.4 - Navigation Menu */
nav {
    background-color: rgba(240, 240, 240);
    color: var(--text-color);
    margin: 0;
    padding: 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    display: inline;
    margin: 0;
    padding: 0 0.15rem;
    margin-right: 0.15rem;
}

nav ul.active {
    display: flex;
    flex-direction: column;
}

.hamburger {
    display: none;
    font-size: 1.875rem;
    background: none;
    border: 2px solid var(--button-bg-color);
    padding: 0.3125rem;
    color: var(--button-bg-color);
    cursor: pointer;
    position: absolute;
    top: 0.625rem;
    right: 0.625rem;
}

@media (max-width: 700px) {
    .hamburger {
        display: block;
    }
    nav ul {
        display: none;
    }
    nav ul.active {
        display: flex;
        flex-direction: column;
        width: 100%;
        text-align: center;
    }
    nav ul li {
        width: 100%;
        margin: 0;
    }
}

nav ul li a {
    color: var(--text-color);
    width: auto;
    text-decoration: none;
    padding: 0.4375rem 0.5rem;
    display: inline-block;
    text-align: center;
}

nav ul li a:hover {
    background-color: #c1c1c1;
    color: #fafafa;
}

nav ul li a.active {
    background-color: #747474;
    font-weight: bold;
    color: #fafafa;
}

/* Language icon specific styling */
#language-icon img {
    width: 24px;
    height: 24px;
    filter: brightness(150%); /* Lightens the icon */
}

/* Ensure the language icon does not inherit active state styling */
nav ul li a.active img {
    filter: brightness(150%); /* Keep the icon light even if active */
}

/* Language Selector */
#language-selector {
    margin-left: 10px;
    padding: 5px;
    background-color: #f0f0f0; /* Light gray background */
    border: 1px solid #ccc;
    border-radius: 4px;
    color: var(--footer-text-color);
    font-family: 'Roboto';
    font-size: 1rem;
}

#language-selector option {
    background-color: #fff; /* White background for options */
    color: var(--text-color);
    font-family: 'Roboto';
    font-size: 1rem;
}

/* Hide the select dropdown initially */
.language-selector.hidden {
    display: none;
}

/* Show the select dropdown */
.language-selector.visible {
    display: block;
}

/* 1.5 - Sidebar */
.sidebar {
    width: 12.5rem;
    background-color: #fafafa;
    padding: 0.625rem;
    border: 1px solid var(--border-color);
    border-radius: 0.25rem;
    margin-right: 1.25rem;
    flex-shrink: 0;
    position: sticky;
    top: 1.25rem;
    height: fit-content;
}

.sidebar h3 {
    margin-top: 0;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    margin: 0.625rem 0;
}

.sidebar ul li a {
    text-decoration: none;
    color: #333;
}

.sidebar ul li a:hover {
    text-decoration: underline;
}

/* Chapter 2: Content Display - Important for Usability */

/* 2.1 - Section Styling */
section {
    width: 40%; /* Adjusted width for better focus on content */
    margin: 3% auto; /* Centering sections */
    padding: 0.375rem 0.75rem;
    background-color: #f5f5f5;
    border-radius: 0.25rem; /* Rounded corners for modern look */
    box-shadow: 0.1rem 0.1rem 0.1rem rgba(0, 0, 0, 0.01), -1rem -1rem 2rem rgba(0, 0, 0, 0.01); /* Even subtler, lighter shadow */
}

/* 2.2 - Cookie Consent Popup */
.cookie-consent {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    background-color: rgba(248, 249, 250, 0.95);
    text-align: center;
    padding: 0.625rem;
    border-top: 0.125rem solid var(--footer-text-color);
    border-radius: 0.1875rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}

.cookie-consent.hidden {
    display: none !important;
}

.cookie-consent p {
    margin: 0.625rem;
    font-size: var(--font-size-base);
    flex-grow: 1;
}

.cookie-consent button {
    background-color: var(--button-bg-color);
    color: white;
    border: none;
    padding: 0.625rem;
    cursor: pointer;
    border-radius: 0.7125rem;
    margin-left: 0.9375rem;
}

.cookie-consent button:hover {
    background-color: var(--button-hover-bg-color);
}

/* 2.3 - Images */
.image-container {
    max-width: 100%;
    margin-top: 0.625rem;
    margin-bottom: 0.625rem;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    /* Ensure images are responsive */
    max-width: 100%;
    height: auto;
}

/* 2.4 - Links */
a {
    color: var(--link-color);
    text-decoration: none;
}

a:not(.main-nav):visited {
    color: var(--link-visited-color);
}

a:hover {
    color: var(--link-hover-color);
    text-decoration: underline;
}

nav ul li a:hover {
    color: #fff;
    text-decoration: none;
}

/* 2.5 - Point form or Lists */
ul li {
    margin-bottom: 0.375rem;
    color: #555;
}

/* Additional margin for the last list item */
ul li:last-child {
    margin-bottom: 1.75rem; /* Adjust this value as needed */
}

ol li {
    margin-bottom: 0.375rem;
    color: #555;
}

/* Additional margin for the last list item */
ol li:last-child {
    margin-bottom: 1.75rem; /* Adjust this value as needed */
}

/* 2.6 - Content-specific lists */
.content-list li {
    margin-bottom: 0.375rem;
    color: #555;
}

/* 2.7 - Specific styling for problems list */
.problems-list {
    list-style-type: disc;
    padding-left: 1.25rem;
    margin: 0;
}

.problems-list li {
    margin-bottom: 0.625rem;
    color: #555;
    font-size: var(--font-size-base);
    line-height: 1.6;
}

/* Chapter 3: Auxiliary Styles - Enhancing Aesthetics */

/* 3.1 - Buttons and Links */
.button, button {
    background-color: var(--button-bg-color);
    color: white;
    padding: 0.625rem 1.25rem;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
    text-align: center;
}

.button:hover, button:hover {
    background-color: var(--button-hover-bg-color);
}

/* 3.2 - Tables for Structured Data */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1.25rem;
}

th, td {
    padding: 0.9375rem;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #f5f5f5;
}

/* 3.3 - Hidden */
.hidden {
    display: none !important;
}

/* Chapter 4: Responsive Design - Ensuring Accessibility on Mobile Devices */
@media (max-width: 700px) {
    .container, nav a {
        width: 100%;
        padding: 0.625rem;
    }

    nav ul {
        flex-direction: column;
    }

    nav ul li {
        text-align: center;
        margin-right: 0;
    }
}

/* Footer Styles */
footer {
    background: var(--footer-bg-color);
    color: var(--footer-text-secondary-color);
    text-align: center;
    font-family: 'roboto', sans-serif; 
    font-size: 16px;
    position: static;
    max-width: 100%;
    margin: 0 auto;
    height: auto;
    padding: 0.35rem 1.25rem 3.5rem 1.25rem;
}

.footer-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 75rem;
    margin: 0 auto;
}

.footer-section {
    margin: 0.3125rem 0.625rem;
    flex: 1;
    min-width: 12.5rem;
    max-width: 25rem;
}

.footer-section h2 {
    font-size: 1.625rem;
    margin-bottom: 0.3125rem;
}

.footer-section p {
    margin: 0.3125rem 0;
}

.footer-section a {
    color: var(--footer-text-color);
    font-size: 1rem;
    
    text-decoration: none;
    margin: 0 0.3125rem;
}

.footer-section a:hover {
    text-decoration: underline;
    color: var(--primary-color);
}

.footer-section :not(.main-nav):visited {
    color: var(--footer-text-color);
}

/* Chapter 5: Scroll to Top Button Styles - Ensuring Accessibility on Mobile Devices */
.scroll-to-top {
    position: fixed;
    bottom: 1.25rem;
    right: 1.25rem;
    background-color: #444;
    color: #fff;
    padding: 0.625rem;
    border-radius: 50%;
    text-align: center;
    text-decoration: none;
    font-size: 1.25rem;
    z-index: 1000;
}

.scroll-to-top:hover {
    background-color: #333;
    color: #fff;
}

/* Chapter 6: Modern Enhancements */

/* 6.1 - Modern Units for Flexibility */
html {
    font-size: 16px; /* Base font size */
}

body {
    font-size: 1rem; /* Using rem units for scalability */
}

h1 {
    font-size: clamp(1.75rem, 2.5vw + 1rem, 3.5rem); /* Slightly larger responsive typography */
}

/* 6.2 - Flexbox and Grid for Layouts */
.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: var(--spacing-base);
}

.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* 6.3 - Enhanced Media Queries */
@media (max-width: 600px) {
    .container {
        grid-template-columns: 1fr;
    }
}

/* 6.4 - Accessibility Enhancements */
body {
    color: var(--primary-color);
    background-color: var(--background-color);
}

a {
    color: var(--link-color);
}

/* Focus states for accessibility */
a:focus, button:focus {
    outline: 2px solid var(--link-color);
    outline-offset: 2px;
}
